version: '3'

services:
    pbs-build: 
      image: ${CONTAINER_PLATFORM}
      volumes: 
        - ../../pbspro:/pbspro
        - ./:/src
        - ./logs:/logs
      entrypoint: src/docker-entrypoint
      env_file: .env
      networks: 
        ci:
          aliases:
            - pbs_server
      hostname: pbs.ci
      privileged: true

networks: 
  ci:
    driver: bridge
    